In [3]:
print("Hello,Python Full Stack Students!")

Hello,Python Full Stack Students!

In [4]:
print("Hello,I am Tahseen!")

Hello,I am Tahseen!

In [5]:
print("How are you!")

How are you!

In [6]:
print("name=TAHSEEN")
print("age=17")
print("gpa=8.5")
print("is student=True")

name=TAHSEEN
age=17
gpa=8.5
is student=True

In [7]:
print("name=safiya")
print("age=16")
print("gpa=8.9")
print("is student=True")

name=safiya
age=16
gpa=8.9
is student=True

In [11]:
x=10
y=3.14
z="Python"
flag=False
print(type(x),type(y),type(z),type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [14]:
print("name=Tahseen")
print("college=Avinash college of commerce")
print("favourite programing language=python")

name=Tahseen
college=Avinash college of commerce
favourite programing language=python

In [16]:
birth_year=2008
current_year=2025
print(current_year-birth_year)

17

In [19]:
movie_name="KGF"
release_year=2018
rating=8.5
print(movie_name,release_year,rating)

KGF 2018 8.5

In [21]:
print("Addition:",15+4)
print("Division:",15/4)
print("Floor Division:",15//4)
print("power:",15**4)

Addition: 19
Division: 3.75
Floor Division: 3
power: 50625

In [23]:
a=10
b=20
print(a>b) # False
print (a==10) # True
print((a<b) and (b==20))  # True

False
True
True

In [3]:
fruits=["apple","banana","mango"]
fruits.append("orange")
print(fruits)
print(fruits[1])

['apple', 'banana', 'mango', 'orange']
banana

In [4]:
colours=["red","green","blue"]
colours.append("orange")
print(colours)
print(colours[3])

['red', 'green', 'blue', 'orange']
orange

In [6]:
fruits=["apple","banana","mango"]
fruits.append("orange")
fruits.remove("banana")
fruits.sort()
print(fruits)
print(fruits[1])

['apple', 'mango', 'orange']
mango

In [10]:
names=["tahseen","safiya","rehan"]
names.append("suknaya")
names.remove("rehan")
names.sort
print(names)
print(names[2])

['tahseen', 'safiya', 'suknaya']
suknaya

In [18]:
colors=("red","blue","green")
print(colors[0])
#colors[1]="yellow"

red

In [19]:
numbers={1,2,3,3,4}
numbers.add(5)
print(numbers)

{1, 2, 3, 4, 5}

In [21]:
student={
    "name":"tahseen",
    "age":"17",
    "course":"B.com(CA)"
}
print(student["name"])
student["age"]="18"
print(student)

tahseen
{'name': 'tahseen', 'age': '18', 'course': 'B.com(CA)'}

In [27]:
student={
    "name":"tahseen",
    "age":"17",
    "course":"B.com(CA)"
}
student["college"]="Avinash college of commerce"
#add new key
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'course', 'college'])
dict_values(['tahseen', '17', 'B.com(CA)', 'Avinash college of commerce'])

In [29]:

marks=75
if marks>=90:
    print("Grade:A")
elif marks>=75:
    print("Grade:B")
elif marks>=50:
    print("Grade:C")
else:
    print("Grade:Fail")

Grade:B

In [31]:
for i in range(1,10):
    print("Number:", i)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9

In [2]:
count=1
while count<=5:
    print("count",count)
    count+=1

count 1
count 2
count 3
count 4
count 5

In [13]:
for i in range(1,10):
    if i==5:
      break
    print(i)

1
2
3
4